CREATE TABLE [dbo].[account_bookmarks](
	[account_id] [int] NOT NULL,
	[event_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC,
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_external_logins]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_external_logins](
	[external_login_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[provider] [varchar](50) NOT NULL,
	[provider_user_id] [varchar](255) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[external_login_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_follows]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_follows](
	[follower_account_id] [int] NOT NULL,
	[following_account_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[follower_account_id] ASC,
	[following_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_post_images]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_post_images](
	[post_image_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[image_url] [nvarchar](1000) NOT NULL,
	[display_order] [int] NOT NULL,
	[created_at] [datetime2](0) NOT NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_account_post_images] PRIMARY KEY CLUSTERED 
(
	[post_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_post_likes]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_post_likes](
	[account_post_like_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_post_like_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[account_posts]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account_posts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[caption] [nvarchar](2000) NULL,
	[created_at] [datetime2](0) NOT NULL,
	[updated_at] [datetime2](0) NULL,
	[is_deleted] [bit] NOT NULL,
 CONSTRAINT [PK_account_posts] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[nickname] [varchar](50) NOT NULL,
	[first_name] [varchar](100) NULL,
	[last_name] [varchar](100) NULL,
	[email] [varchar](255) NOT NULL,
	[password_hash] [varchar](255) NULL,
	[phone_number] [varchar](30) NULL,
	[date_of_birth] [date] NULL,
	[bio] [varchar](500) NULL,
	[profile_picture_url] [varchar](2048) NULL,
	[karma] [int] NOT NULL,
	[events_reviewed_count] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
	[is_deleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comment_likes]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment_likes](
	[comment_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC,
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_accessibility_options]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_accessibility_options](
	[accessibility_option_id] [int] NOT NULL,
	[description] [varchar](255) NOT NULL,
	[event_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[accessibility_option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_categories]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](100) NOT NULL,
	[icon_name] [varchar](100) NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_dates]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_dates](
	[event_dates_id] [int] IDENTITY(1,1) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[event_id] [int] NOT NULL,
 CONSTRAINT [PK_event_dates] PRIMARY KEY CLUSTERED 
(
	[event_dates_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_event_categories]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_event_categories](
	[event_category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[event_id] [int] NOT NULL,
 CONSTRAINT [PK__event_ca__5798ECFFC388D5A6] PRIMARY KEY CLUSTERED 
(
	[event_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_images]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_images](
	[event_image_id] [int] NOT NULL,
	[event_id] [int] NOT NULL,
	[image_url] [varchar](2048) NOT NULL,
	[alt_text] [varchar](255) NULL,
	[is_primary] [bit] NOT NULL,
	[sort_order] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[event_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event_ticket_prices]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event_ticket_prices](
	[event_ticket_price_id] [int] NOT NULL,
	[ticket_type] [varchar](100) NOT NULL,
	[price] [decimal](10, 2) NULL,
	[event_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[event_ticket_price_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[events]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[event_id] [int] NOT NULL,
	[event_name] [varchar](255) NOT NULL,
	[indoors_outdoors] [int] NOT NULL,
	[has_standing_places] [bit] NULL,
	[has_sitting_places] [bit] NULL,
	[disabled_parking_available] [bit] NULL,
	[disabled_toilet_available] [bit] NULL,
	[wheelchair_accessible_toilet] [bit] NULL,
	[location_id] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[organiser_id] [int] NULL,
	[canceled] [bit] NOT NULL,
 CONSTRAINT [PK__events__2370F727284E5A79] PRIMARY KEY CLUSTERED 
(
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[locations]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[locations](
	[location_id] [int] NOT NULL,
	[latitude] [decimal](9, 6) NOT NULL,
	[longitude] [decimal](9, 6) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[location_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organiser_accounts]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organiser_accounts](
	[organiser_account_id] [int] IDENTITY(1,1) NOT NULL,
	[contact_name] [nvarchar](200) NULL,
	[email] [nvarchar](255) NOT NULL,
	[password_hash] [nvarchar](500) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
	[organiser_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[organiser_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organisers]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organisers](
	[organiser_id] [int] NOT NULL,
	[company_name] [nvarchar](255) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[organiser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_comments]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[parent_comment_id] [int] NULL,
	[comment_text] [varchar](1000) NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_images]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_images](
	[post_image_id] [int] IDENTITY(1,1) NOT NULL,
	[post_id] [int] NOT NULL,
	[image_url] [varchar](2048) NOT NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[post_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_likes]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_likes](
	[post_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC,
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[post_tags]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post_tags](
	[post_id] [int] NOT NULL,
	[tagged_account_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC,
	[tagged_account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 15/04/2026 14:10:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[creator_account_id] [int] NOT NULL,
	[event_id] [int] NULL,
	[description] [varchar](1000) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[account_bookmarks] ([account_id], [event_id], [created_at]) VALUES (10, 13, CAST(N'2026-03-31T11:00:17.5172067' AS DateTime2))
INSERT [dbo].[account_bookmarks] ([account_id], [event_id], [created_at]) VALUES (10, 15, CAST(N'2026-03-31T11:00:18.3871601' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[account_post_images] ON 

INSERT [dbo].[account_post_images] ([post_image_id], [post_id], [image_url], [display_order], [created_at], [is_deleted]) VALUES (1, 1, N'http://strangemindsdivision.com/wp-content/uploads/2026/03/Jan-Biggel-2022-scaled-1.jpg', 1, CAST(N'2026-03-30T17:48:49.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[account_post_images] OFF
GO
SET IDENTITY_INSERT [dbo].[account_posts] ON 

INSERT [dbo].[account_posts] ([post_id], [account_id], [caption], [created_at], [updated_at], [is_deleted]) VALUES (1, 9, N'ewa strijder', CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2), CAST(N'2026-03-30T00:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[account_posts] OFF
GO
SET IDENTITY_INSERT [dbo].[accounts] ON 

INSERT [dbo].[accounts] ([account_id], [nickname], [first_name], [last_name], [email], [password_hash], [phone_number], [date_of_birth], [bio], [profile_picture_url], [karma], [events_reviewed_count], [created_at], [updated_at], [is_deleted]) VALUES (10, N'NielsT', N'Nq', N'NT', N'emailnt@dd.nl', N'AQAAAAIAAYagAAAAEAfwW9x33Uf/MiSuDSz2U61i6ydJWCwtDQL7xPvIs1fhMX/h0QsRgqCZhOhzlKLdTg==', N'0673294143', CAST(N'2026-04-04' AS Date), NULL, NULL, 0, 0, CAST(N'2026-03-31T10:17:53.3760289' AS DateTime2), CAST(N'2026-03-31T10:17:53.3760289' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[accounts] OFF
GO
INSERT [dbo].[event_accessibility_options] ([accessibility_option_id], [description], [event_id]) VALUES (1, N'Rolstoelpodia', 1)
INSERT [dbo].[event_accessibility_options] ([accessibility_option_id], [description], [event_id]) VALUES (2, N'INTER-assistentie', 1)
INSERT [dbo].[event_accessibility_options] ([accessibility_option_id], [description], [event_id]) VALUES (3, N'Aangepaste toiletten', 1)
GO
SET IDENTITY_INSERT [dbo].[event_categories] ON 

INSERT [dbo].[event_categories] ([category_id], [category_name], [icon_name]) VALUES (1, N'Pop', N'music_note')
INSERT [dbo].[event_categories] ([category_id], [category_name], [icon_name]) VALUES (2, N'Rock', N'music_note')
INSERT [dbo].[event_categories] ([category_id], [category_name], [icon_name]) VALUES (3, N'Alternatief', N'music_note')
SET IDENTITY_INSERT [dbo].[event_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[event_event_categories] ON 

INSERT [dbo].[event_event_categories] ([event_category_id], [category_id], [event_id]) VALUES (1, 1, 1)
INSERT [dbo].[event_event_categories] ([event_category_id], [category_id], [event_id]) VALUES (2, 2, 1)
INSERT [dbo].[event_event_categories] ([event_category_id], [category_id], [event_id]) VALUES (3, 3, 1)
SET IDENTITY_INSERT [dbo].[event_event_categories] OFF
GO
INSERT [dbo].[event_images] ([event_image_id], [event_id], [image_url], [alt_text], [is_primary], [sort_order]) VALUES (1, 1, N'https://upload.wikimedia.org/wikipedia/commons/a/a1/Pinpop_2010.jpeg?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=thumbnail_unscaled', N'Pinkpop 2026', 1, 1)
INSERT [dbo].[event_images] ([event_image_id], [event_id], [image_url], [alt_text], [is_primary], [sort_order]) VALUES (2, 2, N'', N'Liquicity Amsterdam 2026', 1, 1)
INSERT [dbo].[event_images] ([event_image_id], [event_id], [image_url], [alt_text], [is_primary], [sort_order]) VALUES (3, 3, N'', N'Liquicity Festival 2026', 1, 1)
GO
INSERT [dbo].[event_ticket_prices] ([event_ticket_price_id], [ticket_type], [price], [event_id]) VALUES (1, N'Regulier', CAST(155.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[event_ticket_prices] ([event_ticket_price_id], [ticket_type], [price], [event_id]) VALUES (2, N'Weekend', CAST(305.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[event_ticket_prices] ([event_ticket_price_id], [ticket_type], [price], [event_id]) VALUES (3, N'Regulier', CAST(37.00 AS Decimal(10, 2)), 2)
GO
INSERT [dbo].[events] ([event_id], [event_name], [indoors_outdoors], [has_standing_places], [has_sitting_places], [disabled_parking_available], [disabled_toilet_available], [wheelchair_accessible_toilet], [location_id], [description], [organiser_id], [canceled]) VALUES (2, N'Liquicity Amsterdam 2026', 1, 1, 0, 0, 1, 1, 2, N'We’re back… and better than ever! Liquicity is returning to Lofi Amsterdam for an unforgettable day experience filled with the best drum & bass music, friends and endless vibes 🚀', NULL, 0)
INSERT [dbo].[events] ([event_id], [event_name], [indoors_outdoors], [has_standing_places], [has_sitting_places], [disabled_parking_available], [disabled_toilet_available], [wheelchair_accessible_toilet], [location_id], [description], [organiser_id], [canceled]) VALUES (3, N'Liquicity Festival 2026', 2, 1, 0, 1, 1, 1, 3, N'Celebrating ten years of Liquicity Festival!
3 unforgettable days packed with drum & bass. Just 40km from Amsterdam.', 1, 0)
GO
INSERT [dbo].[locations] ([location_id], [latitude], [longitude]) VALUES (18, CAST(-37.193696 AS Decimal(9, 6)), CAST(145.097810 AS Decimal(9, 6)))
INSERT [dbo].[locations] ([location_id], [latitude], [longitude]) VALUES (17, CAST(-19.785083 AS Decimal(9, 6)), CAST(47.195539 AS Decimal(9, 6)))
INSERT [dbo].[locations] ([location_id], [latitude], [longitude]) VALUES (13, CAST(4.893610 AS Decimal(9, 6)), CAST(52.372700 AS Decimal(9, 6)))
GO
SET IDENTITY_INSERT [dbo].[organiser_accounts] ON 

INSERT [dbo].[organiser_accounts] ([organiser_account_id], [contact_name], [email], [password_hash], [is_active], [created_at], [organiser_id]) VALUES (1, N'Duncan', N'duncan@strangemindsdivision.com', N'AQAAAAIAAYagAAAAEJzoy6S4n0cEi/bm587fPvANgZCrk1RdobrpsHxAJKqFfqpr6u+9rAQU+Irhf+Z1vw==', 1, CAST(N'2026-04-07T12:05:59.4889372' AS DateTime2), 1)
INSERT [dbo].[organiser_accounts] ([organiser_account_id], [contact_name], [email], [password_hash], [is_active], [created_at], [organiser_id]) VALUES (4, N'Niels', N'niels@strangemindsdivision.com', N'AQAAAAIAAYagAAAAEHgYqjTQidfKl7TB4/j2u7xARttJyNjK2N8P9eaWb4tpBhtKh3H24RpKhuyhDukSYg==', 1, CAST(N'2026-04-13T11:47:27.4595563' AS DateTime2), 1)
INSERT [dbo].[organiser_accounts] ([organiser_account_id], [contact_name], [email], [password_hash], [is_active], [created_at], [organiser_id]) VALUES (5, N'Maurice', N'maurice@strangemindsdivision.com', N'AQAAAAIAAYagAAAAEDv1NlrdlfReEe6SwAyYpGJhUj1+qxE6lGLfOrMtDoHmFuW/VMTpg/ujyUiWBbBayA==', 1, CAST(N'2026-04-13T11:48:29.8655037' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[organiser_accounts] OFF
GO
INSERT [dbo].[organisers] ([organiser_id], [company_name], [is_active], [created_at]) VALUES (1, N'Strange Minds Division', 1, CAST(N'2026-04-07T12:05:59.4889372' AS DateTime2))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_account_external_logins_provider_user]    Script Date: 15/04/2026 14:10:45 ******/
ALTER TABLE [dbo].[account_external_logins] ADD  CONSTRAINT [UQ_account_external_logins_provider_user] UNIQUE NONCLUSTERED 
(
	[provider] ASC,
	[provider_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_account_post_images_post_id_is_deleted_display_order]    Script Date: 15/04/2026 14:10:45 ******/
CREATE NONCLUSTERED INDEX [IX_account_post_images_post_id_is_deleted_display_order] ON [dbo].[account_post_images]
(
	[post_id] ASC,
	[is_deleted] ASC,
	[display_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_account_post_likes]    Script Date: 15/04/2026 14:10:45 ******/
ALTER TABLE [dbo].[account_post_likes] ADD  CONSTRAINT [UQ_account_post_likes] UNIQUE NONCLUSTERED 
(
	[post_id] ASC,
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_account_posts_account_id_is_deleted_created_at]    Script Date: 15/04/2026 14:10:45 ******/
CREATE NONCLUSTERED INDEX [IX_account_posts_account_id_is_deleted_created_at] ON [dbo].[account_posts]
(
	[account_id] ASC,
	[is_deleted] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__accounts__5CF1C59B6330B5B4]    Script Date: 15/04/2026 14:10:45 ******/
ALTER TABLE [dbo].[accounts] ADD UNIQUE NONCLUSTERED 
(
	[nickname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__accounts__AB6E61646E7A7751]    Script Date: 15/04/2026 14:10:45 ******/
ALTER TABLE [dbo].[accounts] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_event_image_primary]    Script Date: 15/04/2026 14:10:45 ******/
ALTER TABLE [dbo].[event_images] ADD  CONSTRAINT [UQ_event_image_primary] UNIQUE NONCLUSTERED 
(
	[event_id] ASC,
	[is_primary] ASC,
	[sort_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_locations_lat_lon]    Script Date: 15/04/2026 14:10:45 ******/
ALTER TABLE [dbo].[locations] ADD  CONSTRAINT [UQ_locations_lat_lon] UNIQUE NONCLUSTERED 
(
	[latitude] ASC,
	[longitude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__organise__AB6E61645D2F4FC6]    Script Date: 15/04/2026 14:10:45 ******/
ALTER TABLE [dbo].[organiser_accounts] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account_bookmarks] ADD  CONSTRAINT [DF_account_bookmarks_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[account_external_logins] ADD  CONSTRAINT [DF_account_external_logins_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[account_follows] ADD  CONSTRAINT [DF_account_follows_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[account_post_images] ADD  CONSTRAINT [DF_account_post_images_display_order]  DEFAULT ((1)) FOR [display_order]
GO
ALTER TABLE [dbo].[account_post_images] ADD  CONSTRAINT [DF_account_post_images_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[account_post_images] ADD  CONSTRAINT [DF_account_post_images_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[account_post_likes] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[account_posts] ADD  CONSTRAINT [DF_account_posts_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[account_posts] ADD  CONSTRAINT [DF_account_posts_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_karma]  DEFAULT ((0)) FOR [karma]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_events_reviewed_count]  DEFAULT ((0)) FOR [events_reviewed_count]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[accounts] ADD  CONSTRAINT [DF_accounts_is_deleted]  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[comment_likes] ADD  CONSTRAINT [DF_comment_likes_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[event_images] ADD  CONSTRAINT [DF_event_images_is_primary]  DEFAULT ((1)) FOR [is_primary]
GO
ALTER TABLE [dbo].[event_images] ADD  CONSTRAINT [DF_event_images_sort_order]  DEFAULT ((1)) FOR [sort_order]
GO
ALTER TABLE [dbo].[events] ADD  CONSTRAINT [DF_events_canceled]  DEFAULT ((0)) FOR [canceled]
GO
ALTER TABLE [dbo].[organiser_accounts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[organiser_accounts] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[organisers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[organisers] ADD  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[post_comments] ADD  CONSTRAINT [DF_post_comments_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[post_images] ADD  CONSTRAINT [DF_post_images_sort_order]  DEFAULT ((1)) FOR [sort_order]
GO
ALTER TABLE [dbo].[post_images] ADD  CONSTRAINT [DF_post_images_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[post_likes] ADD  CONSTRAINT [DF_post_likes_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [DF_posts_created_at]  DEFAULT (sysutcdatetime()) FOR [created_at]
GO
ALTER TABLE [dbo].[posts] ADD  CONSTRAINT [DF_posts_updated_at]  DEFAULT (sysutcdatetime()) FOR [updated_at]
GO
ALTER TABLE [dbo].[account_bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_account_bookmarks_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[account_bookmarks] CHECK CONSTRAINT [FK_account_bookmarks_account]
GO
ALTER TABLE [dbo].[account_bookmarks]  WITH CHECK ADD  CONSTRAINT [FK_account_bookmarks_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[account_bookmarks] CHECK CONSTRAINT [FK_account_bookmarks_event]
GO
ALTER TABLE [dbo].[account_external_logins]  WITH CHECK ADD  CONSTRAINT [FK_account_external_logins_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[account_external_logins] CHECK CONSTRAINT [FK_account_external_logins_account]
GO
ALTER TABLE [dbo].[account_follows]  WITH CHECK ADD  CONSTRAINT [FK_account_follows_follower] FOREIGN KEY([follower_account_id])
REFERENCES [dbo].[accounts] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[account_follows] CHECK CONSTRAINT [FK_account_follows_follower]
GO
ALTER TABLE [dbo].[account_follows]  WITH CHECK ADD  CONSTRAINT [FK_account_follows_following] FOREIGN KEY([following_account_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[account_follows] CHECK CONSTRAINT [FK_account_follows_following]
GO
ALTER TABLE [dbo].[account_post_images]  WITH CHECK ADD  CONSTRAINT [FK_account_post_images_account_posts] FOREIGN KEY([post_id])
REFERENCES [dbo].[account_posts] ([post_id])
GO
ALTER TABLE [dbo].[account_post_images] CHECK CONSTRAINT [FK_account_post_images_account_posts]
GO
ALTER TABLE [dbo].[account_post_likes]  WITH CHECK ADD  CONSTRAINT [FK_account_post_likes_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[account_post_likes] CHECK CONSTRAINT [FK_account_post_likes_account]
GO
ALTER TABLE [dbo].[account_post_likes]  WITH CHECK ADD  CONSTRAINT [FK_account_post_likes_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[account_posts] ([post_id])
GO
ALTER TABLE [dbo].[account_post_likes] CHECK CONSTRAINT [FK_account_post_likes_post]
GO
ALTER TABLE [dbo].[account_posts]  WITH CHECK ADD  CONSTRAINT [FK_account_posts_accounts] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[account_posts] CHECK CONSTRAINT [FK_account_posts_accounts]
GO
ALTER TABLE [dbo].[comment_likes]  WITH CHECK ADD  CONSTRAINT [FK_comment_likes_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[comment_likes] CHECK CONSTRAINT [FK_comment_likes_account]
GO
ALTER TABLE [dbo].[comment_likes]  WITH CHECK ADD  CONSTRAINT [FK_comment_likes_comment] FOREIGN KEY([comment_id])
REFERENCES [dbo].[post_comments] ([comment_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comment_likes] CHECK CONSTRAINT [FK_comment_likes_comment]
GO
ALTER TABLE [dbo].[event_accessibility_options]  WITH CHECK ADD  CONSTRAINT [FK_accessibility_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[event_accessibility_options] CHECK CONSTRAINT [FK_accessibility_event]
GO
ALTER TABLE [dbo].[event_categories]  WITH CHECK ADD  CONSTRAINT [FK_event_categories_event_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[event_categories] ([category_id])
GO
ALTER TABLE [dbo].[event_categories] CHECK CONSTRAINT [FK_event_categories_event_categories]
GO
ALTER TABLE [dbo].[event_dates]  WITH CHECK ADD  CONSTRAINT [FK_event_dates_events] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
GO
ALTER TABLE [dbo].[event_dates] CHECK CONSTRAINT [FK_event_dates_events]
GO
ALTER TABLE [dbo].[event_event_categories]  WITH CHECK ADD  CONSTRAINT [FK_category_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[event_event_categories] CHECK CONSTRAINT [FK_category_event]
GO
ALTER TABLE [dbo].[event_event_categories]  WITH CHECK ADD  CONSTRAINT [FK_event_event_categories_event_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[event_categories] ([category_id])
GO
ALTER TABLE [dbo].[event_event_categories] CHECK CONSTRAINT [FK_event_event_categories_event_categories]
GO
ALTER TABLE [dbo].[event_images]  WITH CHECK ADD  CONSTRAINT [FK_event_image_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[event_images] CHECK CONSTRAINT [FK_event_image_event]
GO
ALTER TABLE [dbo].[event_ticket_prices]  WITH CHECK ADD  CONSTRAINT [FK_ticket_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[event_ticket_prices] CHECK CONSTRAINT [FK_ticket_event]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK_events_location] FOREIGN KEY([location_id])
REFERENCES [dbo].[locations] ([location_id])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK_events_location]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK_events_organisers] FOREIGN KEY([organiser_id])
REFERENCES [dbo].[organiser_accounts] ([organiser_account_id])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK_events_organisers]
GO
ALTER TABLE [dbo].[organiser_accounts]  WITH CHECK ADD  CONSTRAINT [FK_organiser_accounts_organisers] FOREIGN KEY([organiser_id])
REFERENCES [dbo].[organisers] ([organiser_id])
GO
ALTER TABLE [dbo].[organiser_accounts] CHECK CONSTRAINT [FK_organiser_accounts_organisers]
GO
ALTER TABLE [dbo].[post_comments]  WITH CHECK ADD  CONSTRAINT [FK_post_comments_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[post_comments] CHECK CONSTRAINT [FK_post_comments_account]
GO
ALTER TABLE [dbo].[post_comments]  WITH CHECK ADD  CONSTRAINT [FK_post_comments_parent] FOREIGN KEY([parent_comment_id])
REFERENCES [dbo].[post_comments] ([comment_id])
GO
ALTER TABLE [dbo].[post_comments] CHECK CONSTRAINT [FK_post_comments_parent]
GO
ALTER TABLE [dbo].[post_comments]  WITH CHECK ADD  CONSTRAINT [FK_post_comments_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_comments] CHECK CONSTRAINT [FK_post_comments_post]
GO
ALTER TABLE [dbo].[post_images]  WITH CHECK ADD  CONSTRAINT [FK_post_images_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_images] CHECK CONSTRAINT [FK_post_images_post]
GO
ALTER TABLE [dbo].[post_likes]  WITH CHECK ADD  CONSTRAINT [FK_post_likes_account] FOREIGN KEY([account_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[post_likes] CHECK CONSTRAINT [FK_post_likes_account]
GO
ALTER TABLE [dbo].[post_likes]  WITH CHECK ADD  CONSTRAINT [FK_post_likes_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_likes] CHECK CONSTRAINT [FK_post_likes_post]
GO
ALTER TABLE [dbo].[post_tags]  WITH CHECK ADD  CONSTRAINT [FK_post_tags_account] FOREIGN KEY([tagged_account_id])
REFERENCES [dbo].[accounts] ([account_id])
GO
ALTER TABLE [dbo].[post_tags] CHECK CONSTRAINT [FK_post_tags_account]
GO
ALTER TABLE [dbo].[post_tags]  WITH CHECK ADD  CONSTRAINT [FK_post_tags_post] FOREIGN KEY([post_id])
REFERENCES [dbo].[posts] ([post_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[post_tags] CHECK CONSTRAINT [FK_post_tags_post]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FK_posts_creator] FOREIGN KEY([creator_account_id])
REFERENCES [dbo].[accounts] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FK_posts_creator]
GO
ALTER TABLE [dbo].[posts]  WITH CHECK ADD  CONSTRAINT [FK_posts_event] FOREIGN KEY([event_id])
REFERENCES [dbo].[events] ([event_id])
GO
ALTER TABLE [dbo].[posts] CHECK CONSTRAINT [FK_posts_event]
GO
ALTER TABLE [dbo].[account_follows]  WITH CHECK ADD  CONSTRAINT [CHK_account_follows_not_self] CHECK  (([follower_account_id]<>[following_account_id]))
GO
ALTER TABLE [dbo].[account_follows] CHECK CONSTRAINT [CHK_account_follows_not_self]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [CK_events_indoors_outdoors] CHECK  (([indoors_outdoors]=(1) OR [indoors_outdoors]=(2) OR [indoors_outdoors]=(3)))
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [CK_events_indoors_outdoors]
GO